<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gjr.mapper.UserMapper">
    <insert id="insertUser" parameterType="user"><!-- 因为mybatisconfig.xml中批量设置了别名-->
        INSERT INTO userinfo(username, password) VALUES (#{username}, #{password})
    </insert>
    <update id="updateUser" parameterType="User">
        UPDATE userinfo set username=#{username}, password=#{password} WHERE id=#{id}
    </update>
    <delete id="deleteUser" parameterType="integer">
        DELETE FROM userinfo WHERE id=#{id}
    </delete>
    <select id="findUserById" parameterType="integer" resultType="User">
        SELECT * FROM userinfo WHERE id=#{id}
    </select>
    <select id="queryUserByName" resultType="User"><!-- 使用 ${value} 进行连接，且必须是 value -->
        SELECT * FROM userinfo WHERE username LIKE '%${value}%'
    </select>
    <select id="queryUserList" resultType="com.gjr.po.UserCustom"><!--多条件查询-->
        SELECT * FROM userinfo WHERE password=#{userCustom.password} AND username LIKE '%${userCustom.username}%'
    </select>
    <select id="countUserCondition" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM userinfo WHERE password=#{userCustom.password} AND username LIKE '%${userCustom.username}%'
    </select>
    <select id="queryUserByResultMap" resultMap="testFieldAlias">
        SELECT id id_, username username_, password password_ FROM userinfo WHERE id=#{id}
    </select>

    <resultMap id="testFieldAlias" type="User">
        <id column="id_" property="id"/>
        <result column="username_" property="username"/>
        <result column="password_" property="password"/>
    </resultMap>





    <!--              动态sql                    -->

    <!-- if -->
    <select id="queryUserList1" resultType="com.gjr.po.UserCustom">
        SELECT * FROM userinfo
        <where>
            <if test="userCustom != null">
                <if test="userCustom.username != null and userCustom.username != ''">
                    AND username LIKE '%${userCustom.username}%'
                </if>
                <if test="userCustom.password != null and userCustom.password != ''">
                    AND password=#{userCustom.password}
                </if>
            </if>
        </where>
    </select>

    <!-- sql 片段，重用 -->
    <select id="queryUserList2" resultType="com.gjr.po.UserCustom">
        SELECT * FROM userinfo
        <where>
            <include refid="like_sql" />
        </where>
    </select>

    <sql id="like_sql">
        <if test="userCustom != null">
            <if test="userCustom.username != null and userCustom.username != ''">
                AND username LIKE '%${userCustom.username}%'
            </if>
            <if test="userCustom.password != null and userCustom.password != ''">
                AND password=#{userCustom.password}
            </if>
        </if>
    </sql>


    <!-- foreach -->
    <select id="queryUserList3" resultType="UserCustom">
        SELECT * FROM userinfo
        <where>
            <include refid="in_sql"/>
        </where>
    </select>

    <sql id="in_sql">
        <if test="ids != null">  <!-- AND id IN (1,3,4...)-->
            <foreach collection="ids" item="userid" open="AND id IN (" close=")" separator=",">
                #{userid}
            </foreach>
        </if>
    </sql>

</mapper>